%h2 All Entries
%br/
%table{:border => "1"}
  %tbody
    %tr 
      %th Full Message
      %th Temperature
      %th Current
      %th Voltage
      %th Sender
      %th Timestamp
      %th Delete
    - theInd = 1
    - maxInd = 4
    - @entries.reverse.each do |entry|
      - if theInd > maxInd
        - break
      - theInd = theInd+1  
    
      %tr 
        %td #{entry.message}
        %td #{entry.temperature}
        %td #{entry.current}
        %td #{entry.voltage}
        %td #{entry.sender}
        %td #{entry.date_time.getlocal}
        %td
          %a{:href => "/delete?id=#{entry.id}"} Delete
%br/
%a{:href => "/manualAdd"} Add entries for testing <br/>
%a{:href => "/"} Back to Home
