<h3>All Entries</h3>
<ul>
<% @entries.each do |entry| %>
	<li>
		Full Message: <%= entry.message %>
		<ul>
			<li>Temperature: <%= entry.temperature %></li>
			<li>Current: <%= entry.current %></li>
			<li>Voltage: <%= entry.voltage %></li>
			<li>Sender: <%= entry.sender %></li>
			<li>Timestamp: <%= entry.date_time.getlocal %></li>
		</ul>
	</li>
<% end %>
</ul>
<a href="/">Back to Home</a>
<%= yield(:footer) %>