%h3 All Entries
%table
  %tbody
    - @entries.each do |entry|
      %tr 
        %td Full Message: #{entry.message}
        %td Temperature: #{entry.temperature}
        %td Current: #{entry.current}
        %td Voltage: #{entry.voltage}
        %td Sender: #{entry.sender}
        %td Timestamp: #{entry.date_time.getlocal}
        %td
          %a{:href => "/delete?id=#{entry.id}"} Delete

%a{:href => "/"} Back to Home