%h3 All Entries
%table{:border => "1"}
  %tbody
    %tr 
      %th Full Message
      %th Temperature
      %th Current
      %th Voltage
      %th Sender
      %th Timestamp
      %th Delete
    - @entries.each do |entry|
      %tr 
        %td #{entry.message}
        %td #{entry.temperature}
        %td #{entry.current}
        %td #{entry.voltage}
        %td #{entry.sender}
        %td #{entry.date_time.getlocal}
        %td
          %a{:href => "/delete?id=#{entry.id}"} Delete

%a{:href => "/"} Back to Home